/* image-rotator.component.css */
.image-rotator {
    text-align: center;
}
  
.rotating-image {
    width: 300px; /* Adjust as needed */
    height: auto;
    transition: transform 0.5s ease-in-out; /* Optional: Add transition for smooth effect */
}

.container {
    display: inline-block;
    margin-right: 20px;
    perspective: 1000px; /* Add 3D perspective */
  }
  
  .image {
    width: 200px;
    height: auto;
    cursor: pointer;
  }
  
  .caption {
    text-align: center;
  }
  