    <!-- <h1 class="animate__animated animate__bounce">An animated element</h1> -->

<div class="flex justify-center items-center h-screen">
    <div class="max-w-md">
      <img src="{{images[currentImageIndex]}}" alt="Your Image" class="mx-auto">
      <p>{{caption}}</p>
      <br>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="rotateImage()">Rotate Image</button>
    </div>
  </div>

  <!-- <div class="container">
    <div [@flipAnimation]="showDiv1 ? 'show' : 'hide'" class="animated flipOutY" *ngIf="showDiv1">
        <img src="{{images[0]}}" alt="Your Image" class="mx-auto">
    </div>
    <div [@flipAnimation]="showDiv2 ? 'show' : 'hide'" class="animated flipOutY" *ngIf="showDiv2">
        <img src="{{images[1]}}" alt="Your Image" class="mx-auto">
    </div>
    <div [@flipAnimation]="showDiv3 ? 'show' : 'hide'" class="animated flipOutY" *ngIf="showDiv3">
        <img src="{{images[2]}}" alt="Your Image" class="mx-auto">
    </div>
    <button (click)="toggleDivs()">Flip</button>
  </div> -->
  
  
  